__pycache__/
*.py[codz]
*$py.class

*.so

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

*.mo
*.pot

*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

instance/
.webassets-cache

.scrapy

docs/_build/

.pybuilder/
target/

.ipynb_checkpoints

profile_default/
ipython_config.py

.pdm-python
.pdm-build/

.pixi

__pypackages__/

celerybeat-schedule
celerybeat.pid

*.sage.py

.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.spyderproject
.spyproject

.ropeproject

/site

.mypy_cache/
.dmypy.json
dmypy.json

.pyre/

.pytype/

cython_debug/

.idea/
*.iml
*.ipr
*.iws
*.iws
.idea_modules/
out/
.idea_modules/
*.iml
*.ipr
*.iws
*.iws
.idea_modules/
out/

.abstra/

.vscode/
*.code-workspace
.vscode/settings.json
.vscode/launch.json
.vscode/tasks.json
.vscode/extensions.json

.ruff_cache/

.pypirc

.cursorignore
.cursorindexingignore

marimo/_static/
marimo/_lsp/
__marimo__/

.dockerignore
docker-compose.override.yml
docker-compose.*.yml
!docker-compose.yml

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*.lnk
*.tmp
*.temp
desktop.ini
$RECYCLE.BIN/

*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

pids
*.pid
*.seed
*.pid.lock

coverage/
*.lcov

.nyc_output

node_modules/
jspm_packages/

.npm

.eslintcache

.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

.node_repl_history

*.tgz

.yarn-integrity

.env.local
.env.development.local
.env.test.local
.env.production.local

.cache
.parcel-cache

.next

.nuxt
dist

.cache/
public

.out
.storybook-out

tmp/
temp/

.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.local/
local/
